.button{
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  font-size: 20px;
 border-width: 0.5px;
margin:30px;
color: rgb(0, 0, 0);
height: 40px;
width: 35px;

}
.carrito {
  border-radius: 5px;

  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  height: 45px;
 
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}